.ModalTilte{
  height: 50px;
  background: var(--primary);
  color: var(--texto-claro);
  font-family: var(--font-Montserrat);
  font-weight: 600;
}
.ModalTilte .btn-close {
  color: var(--texto-claro);
  font-size: 16px;
} 
.ModalTilte .modal-title {
  font-size: 20px;
}
.custom-modal .modal-dialog {
  width: 1200px !important;  
  max-width: none !important; 
}


.modal-sucesso .modal-content {
  border: 3px solid var(--sucesso);
  background-color: #e9f9f1; 
}

.modal-saida .modal-content {
  border: 3px solid var(--erro);
  background-color: #fbeaea; 
}
